@import 'tailwindcss';

@font-face {
	font-family: 'Adevia';
	src: url('/fonts/adevia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/poppins.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-medium';
	src: url('/fonts/poppins-medium.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-light';
	src: url('/fonts/poppins-light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

:root {
	/* Colors */
	--light-brown: #c3bdb1;
	--black: #191919;
	--white: #ffffff;
	--coal: #323232;

	/* Fonts */
	--adevia: 'Adevia', sans-serif;
	--poppins: 'Poppins', sans-serif;
	--poppins-light: 'Poppins-light', sans-serif;
	--poppins-medium: 'Poppins-medium', sans-serif;

	/* Backgrounds */
	--about-bg: url('/images/about-bg.png');
	--about-bg-mobile: url('/images/about-bg-mobile.png');
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.max-width {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
