@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');
@import 'tailwindcss';

@font-face {
	font-family: 'Adevia';
	src: url('/fonts/adevia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	/* Colors */
	--light-brown: #c3bdb1;
	--black: #191919;
	--white: #ffffff;

	/* Fonts */
	--adevia: 'Adevia', sans-serif;
	--poppins: 'Poppins', sans-serif;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.max-width {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
