@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');
@import 'tailwindcss';

@font-face {
	font-family: 'Adevia';
	src: url('/fonts/adevia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	/* Colors */
	--light-brown: #c3bdb1;
	--black: #191919;
	--white: #ffffff;
	--coal: #323232;

	/* Fonts */
	--adevia: 'Adevia', sans-serif;
	--poppins: 'Poppins', sans-serif;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.max-width {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.swiper-button-prev,
.swiper-button-next {
	top: -100px !important;
	z-index: 99999 !important;
}

.swiper-button-prev {
	background-image: url('/images/arrow-left.png') !important;
	background-repeat: no-repeat;
	width: 50px !important;
	background-size: contain;
}

.swiper-button-next {
	background-image: url('/images/arrow-right.png') !important;
	background-repeat: no-repeat;
	height: 200px !important;
	background-repeat: no-repeat;
	width: 50px !important;
	background-size: contain;
}

.swiper-button-prev::after {
	content: '' !important;
}

.swiper-button-next::after {
	content: '' !important;
}
